* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    
}

.container{
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

header {
    background: rgb(33, 37, 43);
    color: white;
    text-align: center;
    
}

#guesser{
    background: rgb(53, 53, 53);
    color:white;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 0.5em;
    width: 40%;
    padding: 3%;
    
   
}

#rgb-value{
    text-align: center;
    padding: .5em;
}


#guesser-nav{
    display: inline;
}

#guesser-nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 3%;
    border: 1px solid #bbb;
}

#guesser-nav li:hover{
    background: white;
    color:rgb(53, 53, 53);
    cursor: pointer;
}



#color-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: ;
}